.containerCarDetails{
    color: #f8f8f8;
    padding: 2rem;
    width: 50%;
    margin: auto auto;
    display: flex;
    justify-content: center;
}

.containerCarDetails > ul{
    list-style-type: none;
    border: 5px double orange;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 2rem;
}

.containerCarDetails > ul > li{
    border-radius: 8px;
}
